<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="reset">
    <% if(message){%>
        <p class="alert"><%=message%></p>
    <%}%>
    <div class="box">
    <h2>Réinitialiser le mot de passe</h2>
  
    <br>
    <form class="form" action="/reset_password" method="POST">

        <div class="input-field">
            
            <label for="password">Entrer le nouveau mot de passe</label>
            <input type="password" name="password" id="password" placeholder="Entrer votre nouveau mot de passe" required> 
        </div>
        <div class="input-field">
            <label for="password_confirm">Confirmer le mot de passe</label>
            <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirmer votre nouveau mot de passe" required> 
        </div>
        
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="secret" value="<%= secret %>">

        <input type="submit" class="btn" value="Renouveler">
    </form></div>
</div>
</body>
</html>
